<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="free mentorship">
    <meta name="keywords" content="free mentors">
    <meta name="author" content="Sagini Emmanuel">
    <title> FreeMentors | About Us</title>
    <link rel="stylesheet" href="../styles/about.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span id="highlight">Free</span> Mentors </h1>
          <a href="landingPage.html"><img src="../images/mentor-image.png" class="mentor-avatar"></a>
        </div>
        <nav>
          <ul>
            <li><a href="landingPage.html">Home</a></li> 
            <li class="current"><a href="about.html">About Us</a></li>           
            <li><a href="signIn.html">Check out a Mentor</a> </li>          
            <li><a href="signIn.html">Sign In</a></li>
            <li><a href="signUp.html">Sign Up</a></li>

          </ul>
        </nav>
      </div>
    </header>

    
    <section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">About Us</h1>
          <p>
            Free Mentors is a social initiative where accomplished professionals become role models to
young people to provide free mentorship sessions.
This platform therefore guides you through a comprehensive session on how to connect with your mentor of choice. The aim is to provide you with all the necessary tools you may need to route you to your preferred career destination.

          </p>
          <p class="dark">
Grab your chance!
Now is the time for you to shine as well. Sign up and book a session with your preferred mentor.<br><br>
          <span>
          "He has shown you O man what is good, and what does He require of you but to do justly, to love mercy and to walk humbly with your Master."
          </span>
          </p>
        </article>

        <aside id="sidebar">
          <div class="dark">
            <h3>What We Do</h3>
            <p>We take the hustle. Seek out the best in our contemporary society, seek their consent and present them to you.<br>

            You get to select what befits you, your preferred interest.<br> 

              Giving back to the community with a bold appreciation that lifelong learning is a providential tool that thrives best in the cooperation of like-minded and passionate enthusiasts for growth in any professional field.
          </div>
        </aside>
      </div>
    </section>
    <section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type="email" placeholder="Enter Email...">
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>


    <footer>
    <p>
      Sagini Web Design, Copyright &copy;2019
    </p>
  </footer>
  </body>
</html>
