<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="free mentorship">
    <meta name="keywords" content="free mentors">
    <meta name="author" content="Sagini Emmanuel">
    <title> FreeMentors |User Page </title>
    <link rel="stylesheet" href="../styles/adminPage.css">
  </head>
	<body>
		<header>
	      <div id="head-container">
	        <div id="branding">
	          <h1><span class="highlight">Free</span> Mentors </h1>
	          <a href="landingPage.html"><img src="../images/mentor-image.png" class="mentor-avatar"></a>	           
	        </div>
	        <nav>
	        	<p id="login">Signed In as a User</p>
	          <ul>
	            <li><a href="landingPage.html">Home</a></li>  
	            <li><a href="about.html">About Us</a></li>   
	          </ul>	         
	        </nav>
	      </div>
	    </header>
	    <div class="wrapper">
		    <section id = "mentors">
		    	<h1>Mentors at your service</h1>
		    	<form id = "search-mentors">
		    		<input type="text" placeholder = "Search your favourite mentor...">
		    	</form>
		    </section>

		    <section id="mentors-list">
		    	<h2 class = "title"> Mentors to check out</h2>
		    	<ul>
		    		<li>
		    			<span class="name">Cobe Bryant</span>
		    			<span class="session-request">Create a session request</span>
		    		</li>
		    		<li>
		    			<span class="name">Jeremy Johnson</span>
		    			<span class="session-request">Create a session request</span>
		    		</li>
		    		<li>
		    			<span class="name">Christina Sass</span>
		    			<span class="session-request">Create a session request</span>
		    		</li>
		    		<li>
		    			<span class="name">Ellen G. White</span>
		    			<span class="session-request">Create a session request</span>
		    		</li>
		    		<li>
		    			<span class="name">Oliver Queen</span>
		    			<span class="session-request">Create a session request</span>
		    		</li>
		    		<li>
		    			<span class="name">Xavier suarez</span>
		    			<span class="session-request">Create a session request</span>
		    		</li>
		    		<li>
		    			<span class="name">Blessing Parton</span>
		    			<span class="session-request">Create a session request</span>
		    		</li>
		    		<li>
		    			<span class="name">Trinila Picnic</span>
		    			<span class="session-request">Create a session request</span>
		    		</li>
		    		<li>
		    			<span class="name">Keith Gonzalez</span>
		    			<span class="session-request">Create a session request</span>
		    		</li>
		    		<li>
		    			<span class="name">Randy Skeete</span>
		    			<span class="session-request">Create a session request</span>
		    		</li>
		    		<li>
		    			<span class="name">Jeff Mochumbe</span>
		    			<span class="session-request">Create a session request</span>
		    		</li>
		    		<li>
		    			<span class="name">Justus Mochumbe</span>
		    			<span class="session-request">Create a session request</span>
		    		</li>
		    		<li>
		    			<span class="name">Jacinta Mochumbe</span>
		    			<span class="session-request">Create a session request</span>
		    		</li>
		    		<li>
		    			<span class="name">Ruth Mabeya</span>
		    			<span class="session-request">Create a session request</span>
		    		</li>
		    	</ul>

		    </section>
		   
		</div> 
		<footer>
			<p>
				Sagini Web Design, Copyright &copy;2019
			</p>
		</footer>

		<script src="../javascript/userPage.js"></script>
 	</body>
</html>