<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="free mentorship">
    <meta name="keywords" content="free mentors">
    <meta name="author" content="Sagini Emmanuel">
    <title> FreeMentors | Welcome</title>
    <link rel="stylesheet" href="../styles/landingPage.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Free</span> Mentors </h1>
          <a href="landingPage.html"><img src="../images/mentor-image.png" class="mentor-avatar" alt="mentor avatar"></a>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="landingPage.html">Home</a></li>    
            <li><a href="signIn.html">Check out a Mentor</a> </li>
            <li><a href="signIn.html">Sign In</a></li>
            <li><a href="signUp.html">Sign Up</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Mentorship</h1>
        <p>Get professional advice for free</p>
        <a href="about.html">About us >></a>
      </div>
    </section>   
    <section id="boxes">
      <div class="container">
        <div class="box">
          <img src="../images/ties.jpg">
          <h3>Confidential</h3>
          <p>Lessons to keep for success</p>
        </div>
        <div class="box">
          <img src="../images/seat.jpg">
          <h3>Reliable</h3>
          <p>Professional advice for life</p>
        </div>
        <div class="box">
          <img src="../images/rise.jpg">
          <h3>Authentic</h3>
          <p> Truth untold from time immemorial</p>
        </div>
      </div>
    </section>

    <footer>
      <p>Sagini Web Design, Copyright &copy;2019</p>
    </footer>
  </body>
</html>
