<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="free mentorship">
    <meta name="keywords" content="free mentors">
    <meta name="author" content="Sagini Emmanuel">
    <title> FreeMentors |Mentor's Page </title>
    <link rel="stylesheet" href="../styles/adminPage.css">
  </head>
	<body>
		<header>
	      <div id="head-container">
	        <div id="branding">
	          <h1><span class="highlight">Free</span> Mentors </h1>
	          <a href="landingPage.html"><img src="../images/mentor-image.png" class="mentor-avatar"></a>	           
	        </div>
	        <nav>
	        	<p id="login">Signed In as mentor</p>
	          <ul>
	            <li><a href="landingPage.html">Home</a></li>  
	            <li><a href="about.html">About Us</a></li>   
	          </ul>	         
	        </nav>
	      </div>
	    </header>
	    <div class="wrapper">
		    <section id = "mentors">
		    	<h1>Checkout your mentorship requests</h1>
		    	
		    </section>

		    <section id="users-list">
		    	<h2 class = "title"> Please respond to the requests below </h2>
		    	<ul>
		    		<li>
		    			<span class="name">Victor Karisa</span>
		    			<a class="decline-request">Decline request</a>
		    			<a class="session-request" href="mentorAccept.html">Accept request</a>
		    		</li>
		    		<li>
		    			<span class="name">Martin Wadende</span>
		    			<a class="decline-request">Decline request</a>
		    			<a class="session-request" href="mentorAccept.html">Accept request</a>
		    		</li>		    		
		    		<li>
		    			<span class="name">Livingstone Ndambuki</span>
		    			<a class="decline-request">Decline request</a>
		    			<a class="session-request" href="mentorAccept.html">Accept request</a>
		    		</li>
		    		<li>
		    			<span class="name">Bethel Neale</span>
		    			<a class="decline-request">Decline request</a>
		    			<a class="session-request" href="mentorAccept.html">Accept request</a>
		    		</li>
		    		<li>
		    			<span class="name">Peterson O'brian</span>
		    			<a class="decline-request">Decline request</a>
		    			<a class="session-request" href="mentorAccept.html">Accept request</a>
		    		</li>
		    		<li>
		    			<span class="name">Jeremiah Brown</span>
		    			<a class="decline-request">Decline request</a>
		    			<a class="session-request" href="mentorAccept.html">Accept request</a>
		    		</li>
		    		<li>
		    			<span class="name">Brighton Beverley</span>
		    			<a class="decline-request">Decline request</a>
		    			<a class="session-request" href="mentorAccept.html">Accept request</a>
		    		</li>
		    		<li>
		    			<span class="name">Abigail Chiriku</span>
		    			<a class="decline-request">Decline request</a>
		    			<a class="session-request" href="mentorAccept.html">Accept request</a>
		    		</li>
		    	</ul>

		    </section>
		   
		</div> 
		<footer>
			<p>
				Sagini Web Design, Copyright &copy;2019
			</p>
		</footer>

		<script src="../javascript/mentorPage.js"></script>
 	</body>
</html>
