<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="free mentorship">
    <meta name="keywords" content="free mentors">
    <meta name="author" content="Sagini Emmanuel">
    <title> FreeMentors | Accept </title>
    <link rel="stylesheet" href="../styles/accept-reject.css">
  </head>
	<body>
		<header>
	      <div id="head-container">
	        <div id="branding">
	          <h1><span class="highlight">Free</span> Mentors </h1>
	          <a href="landingPage.html"><img src="../images/mentor-image.png" class="mentor-avatar"></a>
	        </div>
	        <nav>
	          <ul>
	            <li><a href="landingPage.html">Home</a></li>  
	            <li><a href="about.html">About Us</a></li>          
	            <li><a href="userPage.html">Check out a Mentor</a> </li>          
	            
	          </ul>
	        </nav>
	      </div>
	    </header>
	    <section>
		    <div class="container" id="container">
				<div class="form-container accept-container">
					<form action="#">
						<h1>To decline this request please give a comment</h1>
						<textarea cols="30" rows="5">comment...</textarea>								
										
						<button>Decline request</button>				
							
					</form>
				</div>
				<div class="form-container decline-container">
					<form action="#">
						<h1>Way to go MENTOR.</h1><br>
						<h3>Please specify the date and time</h3>
						<input type="date" required/><br>
						<input type="time" required/><br>

						<button>Accept request</button>
						
					</form>
				</div>
				<div class="overlay-container">
					<div class="overlay">
						<div class="overlay-panel overlay-left">
							<h1>Hello, Mentor!</h1>

							<p>Accept mentorship request</p>
							<button class="ghost" id="signIn">Accept</button>
						</div>
						<div class="overlay-panel overlay-right">
							<h1>Hello, Mentor!</h1>

							<p>If you wish to decline</p>
							<button class="ghost" id="signUp">Decline</button>
						</div>
					</div>
				</div>
			</div>

	    </section>		
		
		<script src="../javascript/accept.js"></script>

	<footer>
		<p>
			Sagini Web Design, Copyright &copy;2019
		</p>
	</footer>
</body>
