<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="free mentorship">
    <meta name="keywords" content="free mentors">
    <meta name="author" content="Sagini Emmanuel">
    <title> FreeMentors | Reset Password</title>
    <link rel="stylesheet" href="../styles/sign-In.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Free</span> Mentors </h1>
          <a href="landingPage.html"><img src="../images/mentor-image.png" class="mentor-avatar"></a>
        </div>
        <nav>
          <ul>
            <li><a href="landingPage.html">Home</a></li>            
            <li><a href="mentors.html">Check out a Mentor</a> </li>          
            <li><a href="signIn.html">Sign In</a></li>
            <li><a href="signUp.html">Sign Up</a></li>
           
          </ul>
        </nav>
      </div>
    </header>

    <section>
      <div id="resetPasswordBox" class = "signinbox">
    
        <h1>Reset you password</h1>
        <form>
          <p>Username</p>
            <input type="text" name="" placeholder="Enter your username" required>
            <p>Email</p>
            <input type="email" name="" placeholder="example@sagini.com" required>
            

            <input type="submit" name="" value="Reset Password">
            <a href="signIn.html">Already have an account?</a><br>            
            <a href="signUp.html">Don't have an account?</a>
        </form>
        
      </div>
    </section>

    <footer>
      <p>Sagini Web Design, Copyright &copy;2019</p>
    </footer>
  </body>
</html>
