<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="free mentorship">
    <meta name="keywords" content="free mentors">
    <meta name="author" content="Sagini Emmanuel">
    <title> FreeMentors | Sign In</title>
    <link rel="stylesheet" href="../styles/sign-In.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Free</span> Mentors </h1>
          <a href="landingPage.html"><img src="../images/mentor-image.png" class="mentor-avatar"></a>
        </div>
        <nav>
          <ul>
            <li><a href="landingPage.html">Home</a></li>            
            <li><a href="signIn.html">Check out a Mentor</a> </li>          
            <li class="current"><a href="signIn.html">Sign In</a></li>
            <li><a href="signUp.html">Sign Up</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section>
      <div class="signinbox">
    
        <h1>Sign In Here</h1>
        <form>
            <p>Email</p>
            <input type="email" name="" placeholder="example@sagini.com" required>
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password" required><br>

            <a id = "user" href="userPage.html">User Sign In</a><br><br><br>
            <a id = "admin" href="adminPage.html">Admin Sign In</a><br><br><br>
            <a id = "mentor" href="mentors.html" >Mentor Sign In</a><br><br>

            <a href="resetPassword.html">Lost your password?</a><br>
            <a href="signUp.html">Don't have an account?</a>
        </form>
        
      </div>
    </section>

    <footer>
      <p>Sagini Web Design, Copyright &copy;2019</p>
    </footer>
  </body>
</html>
